@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h4>Add a new animal</h4>

<p><strong>NOTE:</strong> You need to have at least one category before you can add an animal!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Categories") to create a category.</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.LabelFor(model => model.Date_Of_Admittance)
  @Html.TextBoxFor(model => model.Date_Of_Admittance)

  @Html.LabelFor(model => model.Category)
  @Html.DropDownList("CategoryId")

  <input type="submit" value="Add new animal" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all animals", "Index")</p>