@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h2>Animal Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
<h3>@Html.DisplayNameFor(model => model.Category): @Html.DisplayFor(model => model.Category.Species)<h3>
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>
<h3>@Html.DisplayNameFor(model => model.Date_Of_Admittance): @Html.DisplayFor(model => model.Date_Of_Admittance)</h3>

<p>@Html.ActionLink("Edit Animal", "Edit", new { id = Model.AnimalId })</p>
<p>@Html.ActionLink("Delete Animal", "Delete", new { id = Model.AnimalId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>