@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Category

<h2>Edit</h2>

<h4>Edit this category: @Html.DisplayFor(model => model.Species)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CategoryId)

  @Html.LabelFor(model => model.Species)
  @Html.EditorFor(model => model.Species)

  <input type="submit" class="btn btn-primary" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>